<tbody>
  <% @lists.each do |list| %>
    <% if list.collective? or current_user == list.user_id %>
      <tr id="list-<%= list.id %>">
        <td><%= list.id %></td>
        <td><%= list.name %></td>
        <td><%= list.status %></td>
        <% list.tasks.each do |task| %>
          <td><%= task.title %></td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
</tbody>
<%= link_to 'Nova Lista de Tarefa', new_list_path, class: 'ls-btn-primary button' %>